<div class="custom-block {{ .Get 0 }}">
  <div class="custom-block-header">
    <span>{{ .Get 0 }}</span>
  </div>
  <div class="custom-block-content">
    {{ .Inner | markdownify }}
  </div>
</div>
<style type="text/css">
    /* Custom block styles */
.custom-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-block-header {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 16px;
}

.custom-block-content {
  max-width: 700px;
  text-align: left;
  padding: 0 16px;
}

/* Info block */
.custom-block.info {
  background-color: #f5faff;
  border: 1px solid #c9d7ff;
  color: #3b4aae;
}

/* Tip block */
.custom-block.tip {
  background-color: #f0f9eb;
  border: 1px solid #a1eb8c;
  color: #248f3b;
}

/* Warning block */
.custom-block.warning {
  background-color: #fffde7;
  border: 1px solid #fdd835;
  color: #f9a825;
}

/* Danger block */
.custom-block.danger {
  background-color: #ffebee;
  border: 1px solid #ef5350;
  color: #e53935;
}
</style>
